// @import "../Main/Main.css";

/*****post input*****/

.boxes_post {
  background-color: #ffffff;
  box-shadow: 0px 12px 18px -6px rgb(146, 146, 146);
  border-radius: 10px 10px 10px 10px;
  overflow: auto;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 70%;
  margin: 10vh auto;
  margin-top: 5em;
  margin-bottom: 15em;
}

.post-font {
  font-size: 15px;
  font-weight: 200;
  color: white;
  font-family: "Gowun Dodum", sans-serif;
}
